[2021-03-05 13:03] Tompage1994 opened #16 "Pre-Commit run fails"
[code]

[2021-03-05 17:13] #16 closed, assigned to nobody

[2021-05-26 08:17] Tompage1994 opened #25 "Allow requirements_file option for ah_repository module"
I did the `ah_repository` module pretty quickly last week and did the bare minimum to get it to work. It would be pretty cool if you could give it either a `requirements` option (the requirements in bare yaml as currently exists) or a `requirements_file` option which is just a file location containing a requirements file for the repository. You'd need to parse the file as text and can then pass it

[2021-05-26 12:18] Tompage1994 opened #27 "Ansible Lint fails in pre-commit"

[2021-06-03 17:16] otatman opened #31 "Token generation with Automation Hub"
Hello, we are having issues with token generation with Automation Hub. Here are two ways we've tried to publish a collection to AH and the configs we are using.

Scenario 1 for playbook.yml:
[code]
[code]

Scenrio 2 for playbook.yml:
[code]
[code]

The config files we are using apply to both scenarios.

ah_ansible_config.yml

[code]

ah_auth.yml
[code]

ah_collections.yml
[code]

ah_ansible_config

[2021-06-09 13:43] Tompage1994 opened #32 "Attempting to publish a collection in a yet uncreated namespace fails with bad error message"
The current error message is:

[code]

Instead we should return a more descriptive error in the `ah_collection_upload` module.

[2021-06-09 13:47] Tompage1994 commented on #31
Hi @otatman

Sorry it's taken a while to get around to this.

I've had a look and it seems the issue seems to be that you are trying to publish a collection to a namespace which does not exist. I can see the error message definitely needs improving so I have raised #32 to fix this.

The fix you'll need to apply here is to first use the `ah_namespace` module to create the namespace defined in your

[2021-06-09 16:49] otatman commented on #31
Thanks for your response, unfortunately I still get the same 405 error when referencing the namespace role within my playbook. The current state of my playbook and the error message are listed below.
[code]

[code]

The configuration files I provided initially are the same.

[2021-06-09 16:53] #32 closed, assigned to nobody

[2021-06-09 16:58] otatman commented on #31
Swapping the placement of the namespace and publish role references as such gives a different error

[code]

Error statement:
[code]

[2021-06-11 11:41] Tompage1994 commented on #31
Hi @otatman I can't seem to recreate your errors, I have created the files you have and am running the same playbook but can't generate the same error. Can I confirm you are using the most recent version of the collection?

I also don't quite understand where `old_ah_token` is coming from.

Additionally, if you have `ah_username` and `ah_password` set as variables you shouldn't need to make use of

[2021-06-14 12:46] otatman commented on #31
Thanks for your help, Tom. It seems the issue was that our ah_host value used http rather than https. Perhaps a more descriptive error message noting that https is required or enforcing https would be helpful if others face this same issue.

[2021-06-14 12:46] #31 closed, assigned to nobody

[2021-07-19 15:24] #27 closed, assigned to nobody

[2021-07-19 15:26] #25 closed, assigned to nobody

[2021-09-15 19:55] dkolepp opened #42 "Release a new version?"
Looks like several new modules are included in recent commits.  Any way to release a new version of this collection?

[2021-09-16 09:33] Tompage1994 commented on #42
Hi @dkolepp,

I'll do a release now. I was going to wait until we had developed the wrapper roles which I should be able to get to today. But I understand it would be great to get these out and usable so doing so now!

[2021-09-16 09:33] #42 closed, assigned to nobody

[2021-09-16 09:55] Tompage1994 opened #44 "Add new_name option for ah_ee_* modules"
Similar to exists for `ah_namespace`

[2021-09-16 09:56] Tompage1994 opened #45 "Add new_name option for ah_user, ah_group and ah_group_perm modules"
In the same way as `ah_namespace` does

[2021-09-16 10:05] Tompage1994 commented on #42
See v0.5.0 has been released https://galaxy.ansible.com/redhat_cop/ah_configuration

[2021-09-16 11:48] dkolepp commented on #42
Thanks for releasing this!  I'm actively using these at the moment, and also digging into the code.  I suspect I'll be able to provide feedback/issues, as well as possibly add a few contributions.

Thanks again!

[2021-09-16 14:39] dkolepp opened #47 "`no_log` not set according to playbook output"
## Summary

The following warning was observed using the `ah_repository` module:
![image](https://user-images.githubusercontent.com/10145457/133631031-aeaa4cc7-2be7-429a-93c3-7aff2871a816.png)

[code]

## Playbook Usage
[code]

## Findings
The `proxy_password` field is defined here: https://github.com/redhat-cop/ah_configuration/blob/b5e74b616a8ecdd147a4f0dd879d7ed3e47f2e4f/plugins/modules/ah_repo

[2021-09-17 08:36] Tompage1994 commented on #45
Having a look at the awx.awx modules it seems this isnt used so we should probably stick to the same. It seems likely you wouldn't change a user name anyway.

Closing

[2021-09-17 08:36] #45 closed, assigned to nobody

[2021-09-17 14:53] #47 closed, assigned to nobody

[2021-09-17 15:34] herve4m commented on #44
Let me think about it and do some research.

First thoughts:

Renaming objects with the Pulp container API is not easy. Namespaces cannot be renamed.
For repositories, I might add a `new_name` variable but I will only allow the repository part (```srv.example.com/<namespace>/<repo>:<tag>```) to be renamed.
However, image names without a namespace (`srv.example.com/http-minimum:latest` for example)

[2021-10-05 09:00] sigbjornaib opened #50 "ah_repository_sync replaces the AH API Token -> Tower Project update fails"
When using redhat_cop.ah_configuration.ah_repository_sync to perform an AH repository sync, the API token in Automation Hub is changed, and any Project Update in Tower fails with the following error message:
```    "ERROR! Error when finding available api versions from server0 (https://automationhub.ourdomain.local/api/galaxy/content/rh-certified/) (HTTP Code: 403, Message: Forbidden)"```

Manuall

[2021-10-05 12:56] Tompage1994 commented on #50
Unfortunately that is a limitation of the automation hub and something which there is not a great way around since only one token can be created and these modules use the tokens underneath. You do have a few different options here though:

1. Create a separate user which will have a _static_ token and use that for your project pulls and use a different user for these ah modules.
2. Instead of usin

[2021-10-11 09:06] sigbjornaib commented on #50
Thank you for your feedback. redhat_cop.ah_configuration.ah_repository_sync works when using option 2. I do not see any options in the AH webui for adding static tokens to users.

I do wonder why clicking the "Sync" button manually in the webui works as expected while logged on as the "admin" account (no change to the API token), however using redhat_cop.ah_configuration.ah_repository_sync with th

[2021-10-11 09:24] Tompage1994 commented on #50
Apologies, what I meant by a _static_ token was that the user will not be logged into and have its token changed, nor will it be addressed by its username/password by any of the modules. The token itself is obtained in the same was as any other, just you can consider it to be 'static' by the fact it should never be changed. Its not a great process and I assume at some point there will be a better

[2021-11-08 12:56] sigbjornaib commented on #50
Thank you. Using token to authenticate solves the issue for me.

[2021-11-11 11:24] #50 closed, assigned to nobody

[2021-12-03 17:18] sean-m-sullivan opened #52 "When publishing a collection, and an error is found in GUI, no error reported to user from plugin"
Got the following error trying to manually upload collection

[code]
however when using the plugin and 2.1, found that it just reported changed.

[2021-12-07 10:28] herve4m commented on #52
`galaxy-importer`, which is used by private automation hub (since the 2.0.1 AAP bundle), requires that `requires_ansible` parameter in `meta/runtime.yml` (that file is therefore also mandatory).

https://github.com/ansible/galaxy-importer/blob/master/CHANGES.rst#features-3
https://issues.redhat.com/browse/AAH-538

So, yes, the plug-in should probably report the error if the upload fails.

[2021-12-17 15:38] #44 closed, assigned to nobody

[2022-01-05 15:46] Tompage1994 opened #54 "Pre-commit pipeline broken"
The pre-commit pipeline is currently broken./ Black complains about python version. Looks like its because the base layer is now using 3.10.

see https://github.com/redhat-cop/ah_configuration/actions/runs/1592944817

[2022-01-06 18:49] #54 closed, assigned to Tompage1994

[2022-01-06 19:19] #52 closed, assigned to Tompage1994

[2022-01-27 03:26] dmc5179 opened #57 "Add support for disconnected environments"
This collection works really well to sync content from AH to PAH. Most of my customers operate in fully disconnected environments. Using the same collection to both pull content down from AH and then push that content to the customer's PAH in their environment would make disconnected operations much easier.

[2022-02-13 17:03] sean-m-sullivan opened #59 "Galaxy import is broken for build in 2.12 ansible"
ah_repository is broken in 2.12+
I did a test and used 2.11.8 and it worked, but newer versions it is broken
Here is the result when you run on newer
[code]

It looks like a dependency error somewhere, but I haven't succeeded in tracking it down.
@Tompage1994 If you could have a look.

[2022-02-13 17:06] sean-m-sullivan commented on #59
Should be something in here, looks like there were common changes
https://github.com/ansible/ansible/blob/stable-2.12/changelogs/CHANGELOG-v2.12.rst

[2022-02-14 15:47] sean-m-sullivan commented on #59
Spoke with someone trying to track it down, its definitiely
from ansible.galaxy.collection import build_collection

[2022-02-14 15:47] sean-m-sullivan commented on #59
here is response
[code]

[2022-02-15 00:37] #59 closed, assigned to Tompage1994

[2022-03-02 17:49] Tompage1994 commented on #57
Hey, sorry for taking so long to get around to this.

I've had a go at understanding what you mean and have raised a PR which should help achieve this. From my understanding, just being able to pass in a URL for a remote collection to `ah_collection_upload` would work well for you here?

Likewise, you can use the `publish` role to do the same:

[code]
Let me know if this isn't what you thought of

[2022-03-02 17:50] #57 closed, assigned to Tompage1994

[2022-03-02 17:51] Tompage1994 commented on #57
@dmc5179 please reopen this ticket if the fix won't be sufficient

[2022-03-03 03:37] dmc5179 commented on #57
@Tompage1994 This is great, thank you. I'll give your changes a try with our PAH in a fully air-gapped environment and go from there.

[2022-03-21 10:53] ctodea opened #65 "Confusing vars `ah_host` vs `ah_hostname`."
For using the collection I've defined `ah_hostname` as defined in the defaults, for instance (`roles/user/defaults/main.yml`) [states](https://github.com/redhat-cop/ah_configuration/blob/devel/roles/user/defaults/main.yml#L5):

`# ah_hostname: "{{ inventory_hostname }}"`

So I've defined my playbook as
[code]

Which fails complaining about the `ah_host` not being defined.
The README [does mention]

[2022-03-24 13:23] JoelKle opened #67 "Missing modules to manage EE Remote Registries [PAH v4.4.1]"
We run Private Automation Hub version:
Server version 4.4.1
Pulp Ansible Version 0.10.1

I couldn't find a module or role to manage Execution Environments > Remote Registries
Modules to create/edit remote registries, to "Sync from registry" and to "Index Execution Environments" would be great.

![grafik](https://user-images.githubusercontent.com/34544090/159925195-4b17f17c-46ad-42a7-a9a8-8beb5ee81

[2022-03-29 15:14] #65 closed, assigned to Tompage1994

[2022-04-01 06:34] ctodea opened #71 "Default state of ah_ee_repository set to 'present' instead of 'updated'"
In the `ah_ee_repository` module only `updated` and `absent` are allowed, with `updated` being the default. See [here](https://github.com/redhat-cop/ah_configuration/blob/devel/plugins/modules/ah_ee_repository.py#L172).
But in `roles/ee_repository/tasks/main.yml` state is defaulted to `present`, which causes the role to fail with a
`"msg": "value of state must be one of: updated, absent, got: pres

[2022-04-01 06:36] ctodea commented on #71
Wrong also in roles/ee_repository/README.md

[2022-04-06 15:25] Tompage1994 commented on #67
There are a whole bunch of tasks we probably need to create here. I'll create an issue for each as they're all going to be separate features.

- [x] ah_ee_registry
- [x] ah_ee_registry_sync
- [x] ah_ee_registry_index

We also need to create

- [x] ah_ee_repository_sync

and update to be able to create:

- [x] ah_ee_repository

As a start I have just created `ah_ee_registry`

[2022-04-06 15:28] Tompage1994 opened #73 "Create ah_ee_registry_sync"

[2022-04-06 15:28] Tompage1994 opened #74 "Create ah_ee_registry_index"

[2022-04-06 15:29] Tompage1994 opened #75 "Create ah_ee_repository_sync"

[2022-04-06 15:29] Tompage1994 opened #76 "Create ah_ee_registry"

[2022-04-07 18:02] sean-m-sullivan opened #78 "Update group perms module"
Latest galaxy renames object_permissions to object_roles

https://github.com/ansible/galaxy_ng/pull/1057

its an we need to either support either, or figure out how to support the change.

[2022-04-10 02:13] sean-m-sullivan commented on #67
We should also create roles around there

- [ ] redhat_cop.ah_configuration.ee_registries
- [ ] redhat_cop.ah_configuration.ee_registries_sync
- [ ] redhat_cop.ah_configuration.ee_registries_index

The variable to use for these should be:
ah_ee_registries

We really should have them around all modules, but Tom's stepped up with the modules, Just want to add to the do list, crossing fingers on myse

[2022-04-11 13:32] #76 closed, assigned to nobody

[2022-04-11 15:22] #73 closed, assigned to nobody

[2022-04-21 14:03] #74 closed, assigned to nobody

[2022-04-21 14:04] #75 closed, assigned to nobody

[2022-04-21 15:01] Tompage1994 opened #84 "Add ee_registry role"

[2022-04-21 15:19] #84 closed, assigned to nobody

[2022-04-27 10:00] Tompage1994 opened #88 "Add async for the roles"
In the same way that controlelr_configuration has

[2022-04-27 12:59] #88 closed, assigned to nobody

[2022-04-27 15:12] #71 closed, assigned to nobody

[2022-04-28 13:27] Tompage1994 commented on #67
I think we have everything on this now so closing.

[2022-04-28 13:27] #67 closed, assigned to Tompage1994

[2022-04-29 14:03] Tompage1994 opened #94 "This collection doesn't work with Keycloak users"
If using RHSSO to authenticate for AH, this collection does not seem to work (would be good to get someone to verify its not just something wrong with my setup).

I suppose this probably makes sense as it required you to go off to an external site. Its also not possible to log into a user from SSO in the API browser so that probably backs this up.

We will definitely need to come up with a workaro

[2022-04-29 14:03] Tompage1994 commented on #94
cc @sean-m-sullivan

[2022-04-29 14:07] sean-m-sullivan commented on #94
Oh Fun

[2022-04-29 14:08] Tompage1994 commented on #94
It was always going to happen given the nature of the way the API is put together...

[2022-04-29 14:12] Tompage1994 commented on #94
It looks like the _ui will go soon which would mean its a bit simpler and we can just use one form of auth and can hopefully create a flow to deal with SSO users

https://issues.redhat.com/browse/AAH-770

[2022-04-29 14:14] sean-m-sullivan commented on #94
Oh I agree, thats why I was hesitant on the 1.0.0, basically once this is finished and we have working everything under the new API, its likely the 1.0.0 point

[2022-04-29 14:15] Tompage1994 commented on #94
Fair enough, I hadn't had the chance to go searching through to see what changes are upcoming and it looks like there may be a fair amount under the covers

[2022-04-29 14:20] sean-m-sullivan commented on #94
It's been so long I don't think I realized it was a complete overhaul and removal, expected some time for overlap

[2022-04-29 15:19] t-readyroc opened #95 "ah_repository: community collection not working with requirements_file if default(omit) set"
Collection version: 0.7.0

Ansible version:

[code]

Issue: Configuring both community and rh-certified from a single dictionary, `requirements_file` does not work if `default(omit)` is set.

Dictionary:

[code]

Task:

[code]

With this code, the rh-certified repo is setup correctly, but the community repo fails. The below result includes a debug to show that the requirements file is, in fact, pr

[2022-04-29 15:26] djdanielsson commented on #95
@Tompage1994 would this be connected to some of the bugs you found and just fixed in the last PR?

[2022-04-29 15:36] Tompage1994 commented on #95
I don't think it's related. This seems to be a genuine error where you do need to set requirements file for the community repo. The API requires it I believe

[2022-04-29 16:01] t-readyroc commented on #95
_OR_, it could just be b/c it's Friday & I'm an idiot, & I didn't put `item.` in front of those things. Please return to your regularly-scheduled programming.

[2022-04-29 16:01] #95 closed, assigned to nobody

[2022-04-29 16:03] t-readyroc commented on #95
Also, (if the code was correct above), if you look, it is actually set. it's supposed to only omit for the rh-certified repo, where it was not set.

[2022-04-30 00:21] sean-m-sullivan opened #97 "ah_user better error when sso is enabledf"
When an SSO Keycloak is used Users can't be created. We need a better error for the ah_user module then.
[code]

[2022-05-02 17:39] t-readyroc opened #98 "ah_repository expected behavior?"
Automation Hub 4.2.3

I'm writing a Tower job to sync our local AH. I currently have the following playbook:

[code]

But I noticed that every time I ran the playbook, the existing API token was negated. Is this expected behavior?

Testing was as follows.

Run with known token:

[code]

Run the above playbook to add a new collection (updated requirements.yml), then attempt to run galaxy again (usi

[2022-05-02 18:48] djdanielsson commented on #98
Yes I found this is the case, I am not positive if it is supposed/has to be like this so I will leave the case open and let others chime in but I would currently say yes it is expected behavior.

[2022-05-02 18:50] djdanielsson commented on #98
One way around this would be to create a user and generate a token from that account and use that to pull your collections from as long as you never do anything with the API as that user and do everything API wise as the admin account.

[2022-05-03 11:23] Tompage1994 commented on #98
Yes, the way the login works (and kind of has to work unfortunately at the moment) is that a new token is created and each user can only have one token at a time. My suggestion is as @djdanielsson said, to create a user which you essentially only use for pulling from Tower and you never use that for use with the modules. That way you'll never recycle that token without meaning to.

I wonder whethe

[2022-05-03 19:13] t-readyroc commented on #98
Sorry, trying to follow here. So, a new token is created any time a user logs in (using any of the modules)?

I guess I wasn't aware that individual users could have their own API tokens? I've only been dealing with the single token generated from `/ui/token` to this point, & it definitely gives the warning that, "loading a new token will delete your old token."

[2022-05-03 19:36] djdanielsson commented on #98
yes because it is basically an auth token for that user account so if that is being used for API calls or just pulling down collections it is the same token, so if you were to call the token API/module again it generates a new one that deletes the old one you were using for collections. That is why I suggested creating a user that you won't do API calls with to just pull down collections and use t

[2022-05-03 19:49] t-readyroc commented on #98
That makes sense to me (calling the token module creates a new one for the acct). What I want to make sure of is that using login for _any_ of the other modules does the same thing?

I was just able to create and use a token under a test account to install a collection from my local hub, _and  then_ was able to go back & use the token from the Admin user acct as well, so I now understand that indi

[2022-05-10 12:35] rthdev opened #99 "2 different no_log variables for new ee roles"
New ee roles (ee-registry-sync, ee-registry-index ee-repository-sync) use 2 variables for values of no_log parameter. (task 1 and task 2 use a separate variable for no_log value)

One of them seems unintialized.

Example for  ah_configuration/roles/ee_repository_sync/tasks/main.yml :
task 1 uses  no_log: "{{ ah_configuration_ee_repository_secure_logging }}"
task 2 uses no_log: "{{ ah_configuration

[2022-05-10 13:06] djdanielsson commented on #99
thank you for letting us know, I am thinking we will just change task 2 to match task 1 but I will let the other maintainers chime in to see if they have a reason to keep them different.

[2022-05-11 09:04] Tompage1994 commented on #99
Yes, this looks like something I may have done by accident when adding the async stuff previously.

The readmes refer to it without the `_sync_` and that'll be the way it has previously worked so I say go with that. I've identified three places where this issue exists and I will raise a PR now to fix them.

[2022-05-11 13:00] #99 closed, assigned to Tompage1994

[2022-05-23 08:58] rthdev opened #101 "Add repository and repository_sync roles"
Hi

Is there a chance to add roles for repository and repository_sync?

Thanks and cheers

[2022-06-17 01:31] djdanielsson opened #109 "possible issue with ah_token"
I might need to do some more in depth testing but it appears that ah_token doesn't work when run in controller. I am able to run my playbook just fine on CLI but when I tried running on controller it fails. I will try and get some error logs soon and add them to this issue.

[2022-06-27 14:43] sean-m-sullivan opened #110 "Fix the else in galaxy path prefix"
This code got broken, and it works for galaxy_ng and automation hub standard installs, but users on both can override the path prefix to be what ever they want such as mega_conglomerate_group_incorporated.
The else right now will never trigger.
https://github.com/redhat-cop/ah_configuration/blob/7eae301d2d265f6bed58e4166a9062bd3d07b0db/plugins/module_utils/ah_module.py#L127

In addition its been p

[2022-06-27 15:51] Tompage1994 commented on #110
I'm going to fix this logic up in one PR. We can open a second PR for doing wacky things with the path_prefix after if we choose...

[2022-06-27 16:05] djdanielsson commented on #110
so I like the plan for the default to work with automation hub. I still am kinda for the idea of swapping the names to more correctly point to what platform we are talking to not API endpoints because those are named wrong. I know this would be a code breaking change but it's so confusing that we say galaxy when we want automation hub and automation-hub for galaxy.

[2022-06-27 16:07] djdanielsson commented on #110
I do agree there is a good case to be said that if we default to automation hub (platform) then it should simplify users of our collection to look over other responses because they won't need to worry about setting anything there, it still just personally bothers me they are wrong at the platform level even if they are correct at the API naming level.

[2022-06-27 16:22] Tompage1994 opened #112 "Leaving groups blank on ah_namespace module causes failure with API"
Problem caused by groups not being set. It can be set as `[]` though so we should update the default to this.

To replicate:
[code]

Currently gives
[code]

[2022-06-27 16:52] #112 closed, assigned to Tompage1994

[2022-06-30 11:14] Tompage1994 commented on #110
@sean-m-sullivan do we want to close this or do we want to have a further discussion of how to do the `path_prefix` stuff?

[2022-07-01 18:02] sean-m-sullivan commented on #110
With the defaulting to galaxy now, and the override for non product installs, I think we can close this,

[2022-07-01 18:02] #110 closed, assigned to ericzolf, Tompage1994, djdanielsson

[2022-07-02 02:15] djdanielsson opened #115 "bad name?"
so when testing some configs I am writing I noticed the output of this task says Create EE Image which I am pretty sure isn't correct.

https://github.com/redhat-cop/ah_configuration/blob/fda7ee4da64fd84e229b46b108781a49c2a11839/roles/group/tasks/main.yml#L25

[2022-07-04 14:19] #115 closed, assigned to nobody

[2022-07-05 16:52] djdanielsson commented on #101
#117 and #114

[2022-07-05 16:52] #101 closed, assigned to nobody

[2022-07-06 18:28] djdanielsson commented on #94
what is the current state with 2.2?

[2022-07-06 19:51] sean-m-sullivan commented on #94
unchanged, we still have the issue, you can create a controller service account though as a workaround for now.

[2022-07-07 00:53] djdanielsson opened #119 "ah_repository missing some options?"
In the UI it appears we cannot set/change any of these options/items

- TLS validation
- Client key
- Client certificate
- CA certificate
- Download only signed collections
- Rate Limit

[2022-07-07 13:06] Tompage1994 opened #122 "FileNotFoundError"
When adding the '_path' options to the modules, I found an unhandled exception for FileNotFoundError. This should be handled in the `module.getFileContent` function.

The stdout is:

[code]

This was previously used by the `requirements_file` option for `ah_repository`.

We should expect a proper error message returned to the user which is easy to comprehend

[2022-07-07 13:30] #122 closed, assigned to Tompage1994

[2022-07-07 13:40] #119 closed, assigned to nobody

[2022-07-08 08:54] Tompage1994 opened #126 "Update ah_repository_sync to just run against community and rh_certified"
We want to replicate the changes made in ah_repository in #124

The sync role could definitely follow this track. I suppose it can't hurt to call the sync role from this role too if a `.sync` option is provided. I'd suggest all this to be a separate PR and separate issue

_Originally posted by @Tompage1994 in https://github.com/redhat-cop/ah_configuration/issues/124#issuecomment-1178730152_

[2022-07-08 11:00] gabhishek627 opened #127 "redhat_cop.ah_configuration.ah_approval fails with error like [error] Bash exited with code 2"
- redhat_cop.ah_configuration (v 0.8.0)
- The task for redhat_cop.ah_configuration.ah_collection works fine
- while approving the collection ( via redhat_cop.ah_configuration.ah_approval) it fails with error like [error] Bash exited with code 2
-  The failure with the approval appears randomly for any collection

- Approve collections with retries to 10
TASK [Approve Collections] *****************

[2022-07-08 12:33] Tompage1994 commented on #127
Could you show what the error looks like after all the retries have failed? Could you run your play with `-vvv` and provide the full output for this task please?

[2022-07-08 12:35] Tompage1994 commented on #127
Could you also ensure there is a collection awaiting approval in the UI?

[2022-07-08 16:17] sean-m-sullivan commented on #126
I thought it would be better to implement it inside the module that ah_repository uses similar to how awx.project can sync and wait, that way it can be done in one step in both, instead of just the role.

[2022-07-11 01:26] #94 closed, assigned to nobody

[2022-07-14 06:15] gabhishek627 commented on #127
No, Whenever it fails the approval never appears, the failed ones are still unavailable in the approval screen.

[2022-07-14 06:34] gabhishek627 commented on #127
TASK [Approve Collections] *****************************************************
FAILED - RETRYING: [localhost]: Approve Collections (10 retries left).
FAILED - RETRYING: [localhost]: Approve Collections (9 retries left).
FAILED - RETRYING: [localhost]: Approve Collections (8 retries left).
FAILED - RETRYING: [localhost]: Approve Collections (7 retries left).
FAILED - RETRYING: [localhost]: Approv

[2022-07-14 09:04] Tompage1994 commented on #127
In that case, the issue isn't with the ah_approval module, it'll be with the module you use beforehand to get the collection into AH. If there is no awaiting approval then my guess is that ah_collection hasn't worked here? Either that or you have auto_approved the collection using ah_collection and the collection is actually usable in AH. Could you confirm if this is there? Also confirm if there a

[2022-07-14 16:00] djdanielsson commented on #127
can you show us the whole playbook?

[2022-07-21 22:27] sean-m-sullivan commented on #127
@Tompage1994 From the looks of it, it looks like a wait/interval problem, we are not waiting long enough for the approval to be generated. We want to add a wait/interval to the approval function and the collections/approval module. like this
[wait function module](https://github.com/ansible/awx/blob/9f8b3948e1aad75620bec818f1965b1bb1acbf6e/awx_collection/plugins/modules/project_update.py#L128)
[wa

[2022-08-01 12:07] bprins opened #135 "ah_ee_repository fails when using include_tags"
When using `include_tags` with the `ah_ee_repository` module the Automation Hub API returns a HTTP 500 . From the `gunicorn` logging:
[code]

I tried to set `exclude_tags` to an empty list but this is not allowed:
[code]

[2022-08-01 15:15] randy-randerson opened #136 "Automation Hub ah_repository fails with error 'Unexpected Field: "parameter": "rate_limit"'"
We have a monthly Tower job to update our AH repos. Since the last update to role in this collection as noted in this [issue](https://github.com/redhat-cop/ah_configuration/issues/119) where the parameter `rate_limit` was added our job has started failing with the below error:

[code]

[2022-08-01 15:55] randy-randerson commented on #136
Version locking it to `0.8.0` allows it to succeed.

Here's the playbook we are using:

[code]

[2022-08-01 16:39] djdanielsson commented on #136
were you seeing this error on 0.8.1 or 0.9.1?

[2022-08-01 16:40] djdanielsson commented on #135
can you please provide the Ansible code you were running that produced this error?

[2022-08-01 18:49] bprins commented on #135
Forgot to mention it, but I am using the `ee_repository` role included in the repository with the `ah_ee_repositories` key looking something like this:
[code]

[2022-08-01 21:32] djdanielsson commented on #135
@Tompage1994 have any ideas on this one? I am not seeing anything jump out at me why this isn't working.

[2022-08-02 02:15] djdanielsson opened #138 "current code requires 2.2"
when doing some testing I ran into an issue about some of the new content we wrote and it errors because I was not running the latest version of AAP. This should probably be something we track a little better and note in releases when changes require specific versions.

[2022-08-02 13:50] randy-randerson commented on #136
Hi, I tried the job again specifying version 0.8.1 and 0.9.1 and it failed for both with the same error.

[2022-08-05 20:29] tonyreveal opened #139 "Publish role is overwriting existing collection version"
AAP 2.2.
PAH Server version: 4.5.0
Pulp Ansible Version: 0.13.0

Trying to publish new version of existing collection with the `ah_overwrite_existing` var set to `false`.  However it always deletes the existing version.  I did see the note `This will only work if the account being used has correct privileges`.  We've tried the admin account with password and also tried a token.  We've also tried o

[2022-08-05 22:02] djdanielsson commented on #139
where are you putting ah_overwrite_existing to false? can you print out the hostvars at the start of the playbook to see if you see it as true or false?

[2022-08-08 12:58] tonyreveal commented on #139
They originally had it as a parameter in the collection defintion.  I changed it to pass it as a var to the role which solved the `overwrite_existing: true` issue.  However, now it doesn't do anything.  It keeps the existing version and does not publish another version (isn't keeping old versions).  The expectation is that they be able to click the Version drop down box and see many versions to ch

[2022-08-08 13:05] djdanielsson commented on #139
thanks for the update, I agree I would expect that result. We will have to try and do some deep debugging but that might take a while.

[2022-08-08 14:09] Tompage1994 commented on #136
What version of AH/AAP to you have. I have a feeling this may have been a field added to the API in AAP2.2?

[2022-08-08 14:17] #98 closed, assigned to nobody

[2022-08-08 14:26] Tompage1994 commented on #139
What relevant vars are set for this role? Is a version set in the galaxy.yml? The version doesn't get bumped by this role, so if an existing collection exists of the matching version and you have told it not to overwrite existing it should do nothing in theory

[2022-08-08 14:37] tonyreveal commented on #139
@Tompage1994 A version is set in galaxy.yml and increased each time they want to publish a new version.

Right now they have a test collection version 1.1.13.  I myself increased the version in galaxy.yml to 1.1.14 and again to 1.1.15.  The  job skips publishing the new version

[code]

[2022-08-08 14:44] Tompage1994 commented on #139
That shows skipping the approval, presumably because `ah_auto_approve` is `false`.

And to check, the collection hasn't been published to AH (including potentially sat in the approval queue)?

[2022-08-08 14:49] tonyreveal commented on #139
@Tompage1994 I just checked their code, they've published v1.1.17.  It's the only version in Automation Hub.  And they now have auto approve set to true.

[code]

[code]
![Capture](https://user-images.githubusercontent.com/22101936/183446243-2520fe79-89a4-4ef2-b45a-d471c6f9ed4f.PNG)

[2022-08-08 14:52] Tompage1994 commented on #139
So thats working now? Could it be that before they were just say in the approvals queue in the UI?

[2022-08-08 14:59] tonyreveal commented on #139
@Tompage1994 It's not doing what's expected which is to have multiple versions in the drop down.  It always deletes existing versions.  If a user manually uploads a new version, that drop down will contain 2 or more versions.  The publish role in the collection is deleting what it finds before publishing the new version.

And no, they were not in the approvals queue.

[2022-08-08 15:00] Tompage1994 commented on #139
Ah, I've got you. Not sure why that would be happening at all. I can try looking into it

[2022-08-11 14:01] randy-randerson commented on #136
Looks like we're on version 4.2.3:

![image](https://user-images.githubusercontent.com/66146461/184150585-77140764-b0ea-4410-b9b9-eea0d63e68a9.png)

[2022-08-19 18:22] tonyreveal commented on #135
My customer is getting a similar error without include_tags:

[code]

../vars/ah_ee_repositories.yml:
[code]

Aug 19 10:33:18 cdevpah01a gunicorn[144583]: pulp [None]: django.request:ERROR: Internal Server Error: /api/galaxy/_ui/v1/execution-environments/remotes/
Aug 19 10:33:18 cdevpah01a gunicorn[144583]: Traceback (most recent call last):
Aug 19 10:33:18 cdevpah01a gunicorn[144583]:  File "/usr

[2022-08-19 19:09] djdanielsson commented on #135
@tonyreveal thanks for the update, what version of hub are they running?

[2022-08-19 19:27] tonyreveal commented on #135
@djdanielsson AAP 2.2 / PAH 4.5.
![hub_ver](https://user-images.githubusercontent.com/22101936/185692901-4ade2869-75b4-4dd9-ab20-13d8ae64df81.PNG)
0

[2022-08-19 19:52] djdanielsson commented on #135
Thanks, it's good to see that it is 2.2 so this is defiantly a bug of some sort that we will need to track down.

[2022-08-31 02:46] sean-m-sullivan commented on #135
With the above PR this is what was tested, it should work, I was unable to replicate your errors, but got new ones of my own. Which I went about fixing.

[code]

[2022-08-31 19:13] sean-m-sullivan opened #144 "Role to increase the collection version automatically"
This is just an idea that was thrown out.
change the galaxy version in a lineinfile/blockinfile. So if it's the first build/publish, there's nothing to do, just make sure a valid line exists. From there on, if x.y.z, where x.y.z > the x.y.z from the data gather at the beginning, then build and publish.

if it isn't, then change x.y.z to x1,y1,z1 and build/publish

and have it be an option to turn

[2022-08-31 19:17] sean-m-sullivan commented on #144
@dsglaser

[2022-09-01 21:42] alawong opened #145 "Dispatch role like in controller_configuration"
Currently, this collection requires that you call all of the roles for which you have variables. It would be nice if you could call just a single role that executes all the roles for which variables are found, like dispatch does in controller_configuration.

[2022-09-06 17:51] tonyreveal commented on #135
The PR merge was last week but it doesn't look like a new version of the collection has been published.  So the customer is trying to install the collection from git which is supported:

[code]
but apparently AAP doesn't like this and is giving these errors:

Neither the collection requirement entry key 'name', nor 'source' point to a concrete resolvable collection artifact.  Also 'name' is not an

[2022-09-15 13:57] djdanielsson commented on #136
Sorry I forgot to get back to this, so AAP 2.2 would be 4.5.0 Automation Hub version. If you upgrade your hub I believe this will fix the issue.

[2022-09-15 21:22] gearboxscott opened #150 "can you generate a new release to ansible galaxy for the change made in last few days"
can someone release so PR#147 and PR#148 can be pulled into private automation hub via community repo sync.

thank you

[2022-09-15 23:55] djdanielsson commented on #150
we are working on a few fixes before we do another release

[2022-09-17 20:40] djdanielsson commented on #139
closing

[2022-09-17 20:40] #139 closed, assigned to nobody

[2022-09-23 00:08] djdanielsson commented on #150
we have 2 known issues that are not fixed... I am not sure if we want to do a release with those issues still around or not...

[2022-09-29 23:54] djdanielsson opened #155 "ah_collection module publish issue"
the module redhat_cop.ah_configuration.ah_collection is returning "ok" eg. no change, when attempting to push a new version of the collection while ah_overwrite_existing is set too false. I think this is a major function breaking bug that needs to get fixed ASAP

[2022-09-29 23:57] djdanielsson opened #156 "ah_collection minor bug"
every so often with ah_collection module when pushing a collection while having ah_overwrite_existing set to true it errors out. It has something to do with the time it takes to delete the current namespace I believe and if you re-run the publish role again it will complete as expected.

[2022-09-29 23:58] djdanielsson commented on #136
@randy-randerson were you able to update your version to see if that fixes your issue?

[2022-09-30 00:00] djdanielsson commented on #78
@sean-m-sullivan is this still an issue?

[2022-09-30 00:05] djdanielsson commented on #135
that is expected since our galaxy.yml file is actually a template and we use GitHub actions to update our releases. We are trying to decide if we want to make another release because there are multiple known issues currently due to changes in the API/backend of hub and we haven't had the time to keep up with them.

[2022-09-30 00:12] djdanielsson commented on #144
so an issue I have with this, what would happen if you run publish 2 times in a row without changing anything? I don't think there would be a way to know if there were changes and thus it would publish a new version with no changes. Also I think the better way to do it is require galaxy file to be template and pull from hub the current version and then +1 that version and assign that to the variab

[2022-09-30 00:14] djdanielsson opened #157 "ah_collection auto approve function broken"
the ah_collection module has an auto_approve option but currently if set to true it will fail saying something like could not find a collection waiting for approval. I think this has to do with changes to the API/backend that needs to be updated

[2022-09-30 02:16] sean-m-sullivan commented on #78
I think this is next release coming out, so its something to still keep track of.

[2022-10-06 14:19] ivarmu opened #163 "Modules based on `AHAPIModule` don't support `ah_token` parameter"
`ah_token` parameter is not supported by any of the underlying modules (Example for `groups` can be found below):
![image](https://user-images.githubusercontent.com/26822043/194319576-f61f4d3b-f5d2-4e88-bf88-cbc5dc23b8e0.png)

The modules identified are the following ones:
[code]

[2022-10-07 00:33] BenjaminSchweizer opened #164 "Publish role can't upload new version of collection"
Hi,

i have the same problem as mentioned here:  https://github.com/redhat-cop/ah_configuration/issues/139
I've seen that you already closed this issue, but i think this isn't the solution for @tonyreveal (and myself)

As tony mentioned, the ah_overwrite_existing default value isn't a big deal.
[code]
..will solve this problem.

BUT - the bigger problem is, that the publish role didn't do anything

[2022-10-07 00:35] BenjaminSchweizer commented on #164
output from the failed async-job:
[code]

[2022-10-07 01:02] djdanielsson commented on #164
Yes this is now a known issue being tracked #155. There has been some changes to API's and other things that has caused a lot of our modules to break in some way or another. Currently the 3 of us who are the main maintainers are maxed out and haven't had time to start fixing these issues. While I would love to get it fixed before AnsibleFest it just isn't very likely at this time. Hopefully after

[2022-10-07 01:02] #164 closed, assigned to nobody

[2022-10-07 02:57] #150 closed, assigned to nobody

[2022-10-07 03:17] #155 closed, assigned to nobody

[2022-10-07 03:20] #145 closed, assigned to nobody

[2022-10-07 18:10] djdanielsson commented on #157
this may be fixed in 0.9.2

[2022-10-25 09:16] rthdev opened #167 "ah_ee_registry_index failing for custom EE remote registries"
When configuring a custom EE remote registry (Quay for instance), the ee_registry_index task fails because indexing is only supported for registry.redhat.io

There should be a variable like "index: true|false" for ah_ee_registries and ah_registry_index should not try indexing when set to false.

[2022-11-10 11:27] Tompage1994 commented on #126
Resolved by #152

[2022-11-10 11:27] #126 closed, assigned to nobody

[2022-11-12 18:08] #163 closed, assigned to nobody

[2022-11-17 22:27] djdanielsson commented on #135
is this still an issue with the latest release?

[2022-11-18 17:56] tonyreveal commented on #157
My current customer is having a problem with auto-approve when publishing collections as a super-user.  But the error received is actually:

"You don't have permission to GET to /api/galaxy/content/inbound-csc/v3/plugin/ansible/imports/collections/ce04e268-9cfb-44b6-8e65-0967657644b4/ (HTTP 403)."

Task and vars files:

[code]

[code]